---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-lg font-mono font-medium text-accent whitespace-nowrap"
>
  matthias-andrasch<span class="text-muted">.eu</span>
</span>
